<?xml version="1.0" encoding="UTF-8"?>
<bb:widget xmlns:bb="http://www.backbase.com/ns/widgets">
    <bb:resources>
        <bb:resource type="text/css" src="css/wrap-layout.css"/>
        <bb:resource type="text/javascript" src="template/wrap-layout.js"/>
        <bb:resource type="image/png" src="png/wrap-layout.js"/>
    </bb:resources>
</bb:widget>